project:
  type: website
  execute-dir: project
  render:
    - README.md
    - data-raw/README.md
    - web/*.qmd

website:
  title: "monitorOSM"
  repo-url: https://github.com/OSM-Catalan/monitorOSM
  repo-actions: [edit, issue]
  site-url: https://osm-catalan.github.io/monitorOSM
  open-graph: true
  image: man/figures/logo.svg
  favicon: man/figures/logo.svg
  navbar:
    logo: man/figures/logo.svg
    left:
      - data-raw/README.md
    right:
      - text: Paquet d'R
        icon: r-circle-fill
        href: https://osm-catalan.github.io/monitorOSM/docs/
    tools:
      - icon: github
        href: https://github.com/OSM-Catalan/monitorOSM
  sidebar:
    style: "docked"
    contents:
      - section: Control de canvis
        contents:
          - web/limits.qmd
          - web/localitats.qmd
          - web/internacional.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    lang: ca

editor: source
